body * {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid;
    overflow: hidden;
    min-width: 700px;
}

.main {
    background-color: darkgray;
    float: left;
    width: 100%;
}

/* 多加了一个main包裹的边距处理，就不用再增添左右边栏的相对定位移位了 */
.main-content {
    background-color: cornflowerblue;
    margin-left: 200px;
    margin-right: 260px;
}

.nav {
    background-color: burlywood;
    float: left;
    width: 190px;
    margin-left: -100%;
}

.aside {
    background-color: coral;
    float: left;
    width: 250px;
    margin-left: -250px;
}
