* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: gray;
    float: left;
    width: 100%;
}

.nav {
    background-color: coral;
    width: 240px;
    float: left;
    margin-left: -100%;
}

.main-content {
    background-color: aqua;
    margin-left: 250px;
}
