<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body ng-app="myTest" ng-controller="test">
    <div ng-show="value" ng-init="value=true;">
        <p>show area</p>
    </div>
    <div>
        <button ng-click="value=false" ng-mouseleave="value=true;">okey</button>
    </div>
    <button ng-click="closeShow()">{{message}}</button>
    <script type="text/javascript">
    angular.module('myTest', [])
        .controller("test", function ($scope) {
            $scope.message = "Hello World!";
            $scope.value = true;
            $scope.closeShow = function() {
                    alert(1111)
                    console.log($scope.value);
            };
        });
    </script>
</body>
</html>
